* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{

    background-image:url("img/faq\ back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    padding:23px;
    margin-bottom: 80px;
}

.menu li {
    list-style: none;
    margin: 10px;
    display: inline;
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.menu li a {
    text-decoration: none;
    color: #fff;
}

.question {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px 0;
    color: #fff;
    
  }
  .answer{
    color: red;
  }
  
  .question input,
  .question .answer { display: none }
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%
  }
  
  .question input:checked ~ .answer {
    display: block
  }